.body{
	background-color:#033;
}


.box {
  background-color: #FFF;
  margin: 80px auto;
  padding: 20px;
  position: relative;
  text-align: center;
  width: 346px;
}

.h1 {
  font-family: "Arial Black";
  font-size: 20px;
  letter-spacing: 3px;
  margin: 0;
}

.p {
  font-family: sans-serif;
  font-size: 13px;
  letter-spacing: 1px;
  margin-bottom: 0;
  margin-top: 10px;
}

.box:before,
.box:after {
  border-bottom: 50px solid transparent;
  border-top: 50px solid transparent;
  content: "";
  height: 30px;
  left: 0;
  position: absolute;
  z-index: -1;
}

.box:before {
  border-left: 340px solid #FFF;
  top: -50px;
}

.box:after {
  border-right: 340px solid #FFF;
  bottom: -50px;
}

.tr{
  content: '';
  position: absolute;
  top: 100%;
  right:0;
  border-top: 6vw solid #fff;  /* 三角を白にする */ 
  border-left: 30vw solid transparent;	
}

.tr2{
  content: '';
  position: absolute;
  top: 35px;
  left: 35%;
  border-bottom: 6vw solid #fff;  /* 三角を白にする */ 
  border-right: 30vw solid transparent;	
}



.trp{
	color: #033;
}

.bg{
	color: #033;
	height: 600px;
}
