.main{
	margin:0;
	background-color: #000;
	color: #fff;
	height: 50px;

}

.ul{
	padding: 10px;
	display: flex;
	margin-left: auto;
	margin-right: auto;

}

.li{
	list-style: none;
	padding-left: 25px;
}

.li:hover{
	color:#4169e1;
	font-weight: bold;
	height:50px;
}
