.ul{
	display: flex;
	background-color: #000;
	color: #fff;
	height: 50px;
	padding-right: 0;
}

.li{
	height: 50px;
	list-style: none;
	padding: 10px 25px;
}

.li:hover{
	color:#4169e1;
}

.li:active{
	color:#7997f2;
}

@media (min-width: 768px){
	.ul{
		display:flex;
		flex-direction: row;
		justify-content:space-between;
	}
}
